.searchBar {
  height: 180px;
  background-color: goldenrod;
}
.searchReceipt {
  color: black;
  border-radius: 5px;
  width: 350px;
  height: 35px;
}
.searchReceiptButton {
  color: black;
  border-radius: 5px;
  width: 120px;
  height: 40px;
}
