.searchForm1,
.searchForm2 {
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.searchReceipt1,
.searchReceipt2 {
  border: none;
  width: 40%;
  padding: 10px;
}
.searchReceiptButton {
  background-color: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}
.alert {
  color: red;
}
