.container1 {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}
.meal1 {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}
.mealImage1 {
  flex: 1;
}
.mealImage1 img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.mealTitle1 {
  color: #351898;
}
.mealDetails1 {
  flex: 2;
}
.mealDetails1 a {
  color: purple;
  text-decoration: none;
}
